* {
  box-sizing: border-box;
  background-color: #E8DFDD;
}

h1 {
    text-align: center;
    font-size: 40px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #E8DFDD;
  color: black;
  font-size: 16px;
}

button {
  background-color: #ECA899;
  border: none;
  color: black;
  padding: 16px 32px;
  margin: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 20px;
}

